@charset "UTF-8";
html, body {
  margin: 0 auto;
  padding: 0;
  font-size: 62.5%;
  background-color: #f9f8f6; }

p, li, dt, dd, th, td {
  font-size: 1.2rem; }

a {
  color: #000; }

li {
  list-style: none; }

.nav_sp,
.img_sp {
  display: none; }

header {
  max-width: 940px;
  margin: 0 auto;
  padding: 40px 0;
  overflow: hidden; }
  header .logo {
    float: left; }
  header .sns {
    float: right; }
    header .sns li {
      float: left;
      margin-left: 10px; }
  header nav .pc_menu {
    float: right; }
    header nav .pc_menu li {
      float: left;
      margin: 10px 10px 0 10px; }
  header .sp_menu_toggle {
    display: none; }

.content {
  max-width: 940px;
  margin: 0 auto;
  clear: both; }

.left {
  width: 70%;
  float: left;
  margin-right: 2.4%; }
  .left .kv img {
    width: 100%; }
  .left .kv ul {
    padding: 0; }
  .left .new_item h2 img {
    width: 100%;
    margin-bottom: 40px; }
  .left .new_item ul {
    width: 100%;
    padding: 0;
    overflow: hidden;
    margin-bottom: 30px; }
    .left .new_item ul li {
      width: 26.6%;
      float: left;
      background: #fff;
      margin-right: 1%;
      margin-bottom: 1%;
      padding: 3%; }
      .left .new_item ul li:nth-child(3n) {
        margin-right: 0; }
      .left .new_item ul li figure {
        margin: 0;
        padding: 0; }
        .left .new_item ul li figure img {
          width: 100%; }
        .left .new_item ul li figure span {
          display: block;
          margin: 20px 0 10px; }
  .left .popular_items h2 img {
    width: 100%;
    margin-bottom: 40px; }
  .left .popular_items ul {
    width: 100%;
    padding: 0;
    overflow: hidden;
    margin-bottom: 30px; }
    .left .popular_items ul li {
      width: 26.6%;
      float: left;
      background: #fff;
      margin-right: 1%;
      margin-bottom: 1%;
      padding: 3%; }
      .left .popular_items ul li:nth-child(3n) {
        margin-right: 0; }
      .left .popular_items ul li figure {
        margin: 0;
        padding: 0; }
        .left .popular_items ul li figure img {
          width: 100%; }
        .left .popular_items ul li figure span {
          display: block;
          margin: 20px 0 10px; }
  .left .shopping_guide h2 img {
    width: 100%;
    margin-bottom: 40px; }
  .left .shopping_guide section {
    float: left;
    width: 43%;
    height: 270px;
    background: #fff;
    padding: 20px;
    margin-right: 1%; }
    .left .shopping_guide section:last-child {
      margin-right: 0; }
    .left .shopping_guide section h3 {
      font-size: 1.6rem;
      margin-bottom: 20px; }
    .left .shopping_guide section dt {
      font-weight: bold; }
    .left .shopping_guide section dd {
      margin: 15px 0 20px; }
  .left .shopping_guide .kessai dl dd {
    margin: 13px 0 20px; }
    .left .shopping_guide .kessai dl dd img {
      width: 100%; }

.right {
  float: right;
  width: 27.6%; }
  .right .search {
    background: #fff;
    padding: 20px;
    margin-bottom: 10px; }
    .right .search input {
      background: url(../images/top/search_icon.png) #eee no-repeat center right 10%;
      border: none;
      color: #b5b5b5;
      font-style: italic;
      padding: 10px;
      width: 90%; }
  .right .pagelink a {
    display: block;
    padding: 20px;
    background: url(../images/top/next_icon.png) #887f69 no-repeat center right 10%;
    margin-bottom: 10px; }
  .right .content_nav {
    margin-bottom: 10px; }
    .right .content_nav p {
      padding: 20px;
      background: url(../images/top/down_icon.png) #887f69 no-repeat center right 10%;
      margin: 0; }
    .right .content_nav li {
      background: url(../images/top/next_icon_gray.png) #fff no-repeat center right 10%;
      border-bottom: 1px solid #f9f8f6;
      width: 100%; }
      .right .content_nav li a {
        display: block;
        padding: 17px;
        text-decoration: none; }
    .right .content_nav ul {
      padding: 0;
      margin: 0; }
  .right .about {
    background: #fff;
    margin-bottom: 10px; }
    .right .about h2 {
      padding: 20px;
      background: #887f69; }
    .right .about figure {
      padding: 12px;
      margin: 0; }
      .right .about figure img {
        width: 100%; }
      .right .about figure figcaption {
        font-size: 1.2rem; }
    .right .about .more {
      max-width: 103px;
      margin: 0 auto;
      padding: 20px; }
      .right .about .more img {
        width: 100%; }
  .right .shop_info {
    background: #fff; }
    .right .shop_info h2 {
      padding: 20px;
      background: #887f69; }
    .right .shop_info figure {
      padding: 12px;
      margin: 0; }
      .right .shop_info figure img {
        width: 100%; }
      .right .shop_info figure figcaption {
        font-size: 1.2rem; }
    .right .shop_info .more {
      max-width: 103px;
      margin: 0 auto;
      padding: 20px; }
      .right .shop_info .more img {
        width: 100%; }

.topback {
  clear: both;
  text-align: right;
  margin: 60px 0 20px; }

footer {
  clear: both;
  max-width: 940px;
  margin: 0 auto;
  padding: 36px 0 152px;
  border-top: 1px solid #887f69; }
  footer ul {
    overflow: hidden;
    max-width: 447px;
    margin: 0 auto; }
  footer li {
    float: left;
    padding-left: 15px; }
    footer li:last-child a::after {
      content: " "; }
    footer li a {
      text-decoration: none;
      color: #000; }
      footer li a:after {
        content: "・";
        padding-left: 15px; }
  footer .copy {
    text-align: center;
    color: #bcb8b1; }

@media screen and (max-width: 768px) {
  .img_pc {
    display: none; }

  .img_sp {
    display: block; }

  header {
    padding: 27px 0; }
    header .logo {
      float: none;
      margin: 0 auto;
      max-width: 200px; }
      header .logo img {
        width: 100%; }
    header .sns {
      float: none;
      max-width: 188px;
      margin: 0 auto; }
      header .sns ul {
        padding: 0; }
        header .sns ul li img {
          width: 80%;
          margin-left: 5%; }
      header .sns .nav_sp {
        display: block; }
      header .sns:first-child {
        margin-left: 0; }
    header .sp_menu_toggle,
    header .pc_menu {
      display: none; }
    header .sp_menu_toggle {
      margin: 0;
      padding: 15px 30px;
      width: 100%;
      background: #ff6d77;
      clear: both; }
      header .sp_menu_toggle a {
        display: block;
        text-decoration: none;
        text-align: left;
        border-bottom: 1px solid #fff;
        padding: 20px 0;
        color: #fff;
        font-size: 1.5rem;
        width: 83%; }
      header .sp_menu_toggle li:last-child a {
        border-bottom: none; }

  .content {
    padding: 20px; }

  .left {
    float: none;
    width: 100%; }
    .left h2 {
      width: 40%;
      margin: 0 auto; }
    .left .new_item ul li {
      width: 43.5%; }
      .left .new_item ul li:nth-child(3n) {
        margin-right: 1%; }
      .left .new_item ul li:nth-child(2n) {
        margin-right: 0; }
    .left .popular_items ul li {
      width: 43.5%; }
      .left .popular_items ul li:nth-child(3n) {
        margin-right: 1%; }
      .left .popular_items ul li:nth-child(2n) {
        margin-right: 0; }
    .left .shopping_guide section {
      float: none;
      width: 88%;
      margin-bottom: 10px; }

  .right {
    float: none;
    width: 100%; }
    .right .search {
      margin-top: 20px; }
      .right .search p {
        display: none; }
    .right .shop_info, .right .about {
      overflow: hidden; }
      .right .shop_info figure img, .right .about figure img {
        width: 50%;
        float: left;
        margin-right: 2%; }
      .right .shop_info figure figcaption, .right .about figure figcaption {
        font-size: 1.2rem; }
      .right .shop_info .more, .right .about .more {
        float: left; }

  .topback {
    text-align: center; } }
.pan {
  background: #e8e4da;
  overflow: hidden;
  border-radius: 2px;
  padding: 10px; }
  .pan ul {
    margin: 0;
    padding: 0; }
  .pan li {
    float: left;
    color: #887f69; }
    .pan li:first-child {
      background: url(../images/list/home_icon.png) no-repeat center left;
      padding-left: 22px; }
    .pan li:after {
      content: "/";
      margin: 0 17px;
      color: #b3bac2; }
    .pan li:last-child:after {
      content: " "; }
    .pan li a {
      text-decoration: none;
      color: #887f69; }

.category_name h2 img {
  width: 100%; }
.category_name ul {
  width: 100%;
  padding: 0;
  overflow: hidden;
  margin-bottom: 20px; }
  .category_name ul li {
    width: 26.6%;
    float: left;
    background: #fff;
    margin-right: 1%;
    margin-bottom: 1%;
    padding: 3%; }
    .category_name ul li:nth-child(3n) {
      margin-right: 0; }
    .category_name ul li figure {
      margin: 0;
      padding: 0; }
      .category_name ul li figure img {
        width: 100%; }
      .category_name ul li figure span {
        display: block;
        margin: 20px 0 10px; }
.category_name .arow {
  margin-bottom: 30px; }
  .category_name .arow li {
    background: none;
    padding: 0;
    margin: 0; }
  .category_name .arow li a {
    background: #887f69;
    display: block;
    color: #fff;
    font-weight: bold;
    padding: 15px 40px;
    text-decoration: none;
    text-align: center; }
  .category_name .arow .back {
    float: left; }
  .category_name .arow .next {
    float: right; }

.title_recent_pro ul {
  width: 100%;
  padding: 0;
  overflow: hidden;
  margin-bottom: 20px; }
  .title_recent_pro ul li {
    width: 26.6%;
    float: left;
    background: #fff;
    margin-right: 1%;
    margin-bottom: 1%;
    padding: 3%; }
    .title_recent_pro ul li:nth-child(3n) {
      margin-right: 0; }
    .title_recent_pro ul li figure {
      margin: 0;
      padding: 0; }
      .title_recent_pro ul li figure img {
        width: 100%; }
      .title_recent_pro ul li figure span {
        display: block;
        margin: 20px 0 10px; }

@media screen and (max-width: 768px) {
  .category_name h2 {
    width: 100%;
    margin-top: 20px; }
  .category_name ul li {
    width: 43.5%; }
    .category_name ul li:nth-child(3n) {
      margin-right: 1%; }
    .category_name ul li:nth-child(2n) {
      margin-right: 0; }
  .category_name .arow li a {
    padding: 15px 0; }

  .title_recent_pro h2 img {
    width: 100%;
    margin: 25px 0 40px; }
  .title_recent_pro ul li {
    width: 43.5%; }
    .title_recent_pro ul li:nth-child(3n) {
      margin-right: 1%; }
    .title_recent_pro ul li:nth-child(2n) {
      margin-right: 0; } }
.products {
  padding: 40px 60px 80px 60px;
  background: #fff;
  margin-bottom: 30px; }
  .products h2 {
    font-size: 1.4rem;
    font-weight: bold;
    float: left; }
  .products .no {
    text-align: right;
    color: #a6a6a6;
    border-bottom: 1px solid #e3e8cf;
    padding-bottom: 12px;
    margin-bottom: 0; }
  .products .display_img {
    width: 71%;
    float: left;
    margin: 20px 2% 20px 0;
    clear: both; }
    .products .display_img img {
      width: 100%; }
  .products .list_img {
    width: 27%;
    padding: 0;
    margin: 20px 0;
    float: left; }
    .products .list_img li {
      float: left;
      width: 46%;
      margin-right: 6%;
      margin-bottom: 6%; }
      .products .list_img li img {
        width: 100%;
        cursor: pointer; }
      .products .list_img li:nth-child(2n) {
        margin-right: 0; }
    .products .list_img .no_img {
      display: block;
      background: #f9f9f9;
      height: 66.81px; }
  .products section {
    border-top: 1px solid #e3e8cf;
    clear: both; }
  .products table {
    width: 100%;
    margin: 20px 0; }
    .products table th, .products table td {
      padding: 15px 4%;
      border: 1px solid #e3e8cf; }
    .products table th {
      background: #f9f9f5;
      color: #887f69; }
    .products table td {
      text-align: center; }
      .products table td input {
        border: #e8e4da  1px solid; }
  .products .price {
    width: 55%;
    float: left;
    border-bottom: 1px solid #e3e8cf; }
    .products .price h3 {
      float: left;
      margin-top: 30px; }
    .products .price p {
      margin: 20px 0 20px 117px;
      font-style: italic; }
    .products .price .dol {
      color: #e80f66; }
      .products .price .dol span {
        font-size: 2.2rem; }
  .products .cart_img {
    float: right; }
  .products .quantity {
    clear: both;
    border-top: none; }
    .products .quantity h3 {
      float: left;
      margin: 30px 50px 0 0; }
    .products .quantity input {
      padding: 15px 3%;
      border: #e8e4da 1px solid;
      margin: 18px 0; }
  .products .products_text h3 {
    font-size: 1.6rem;
    color: #887f69;
    border-bottom: 1px solid #887f69; }
  .products .products_text section {
    border: none; }
  .products .products_text h4 {
    color: #887f69;
    font-size: 1.6rem; }
  .products .products_text p {
    font-size: 1.4rem; }

@media screen and (max-width: 768px) {
  .content_products {
    padding: 0; }
    .content_products .pan {
      margin: 20px; }
    .content_products .title_recent_pro, .content_products .shopping_guide, .content_products .right, .content_products .topback {
      padding: 0 20px; }
    .content_products .right {
      width: 90%; }

  .products {
    padding: 30px 20px 60px;
    margin-top: 20px; }
    .products h2 {
      float: none;
      margin: 0; }
    .products .no {
      text-align: left; }
    .products .display_img {
      width: 100%;
      float: none;
      margin: 20px 2% 10px 0; }
    .products .list_img {
      width: 100%;
      margin: 0 0 20px;
      float: none;
      overflow: hidden; }
      .products .list_img li {
        width: 18.4%;
        margin-right: 2%;
        margin-bottom: 2%; }
        .products .list_img li:nth-child(2n) {
          margin-right: 2%; }
        .products .list_img li:nth-child(5n) {
          margin-right: 0; }
      .products .list_img .no_img {
        height: 60.3px; }
    .products .price {
      width: 100%;
      float: none; }
    .products .cart_img {
      float: none;
      margin-top: 25px;
      margin-bottom: 25px;
      display: block; }
      .products .cart_img img {
        display: block;
        margin: 0 auto; }
    .products .quantity {
      clear: both;
      border-top: 1px solid #e3e8cf; }
      .products .quantity h3 {
        float: left;
        margin: 30px 50px 0 0; }
      .products .quantity input {
        padding: 15px 3%;
        border: #e8e4da 1px solid;
        margin: 18px 0; }
    .products .products_text table th {
      width: 25%; } }

/*# sourceMappingURL=style.css.map */
